/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
}
/* Logo de WhatsApp en la parte superior */
.whatsapp-logo {
    width: 100%;
    height: 250px; /* Ajusta la altura según el tamaño de la imagen */
    background: url('Imagenes/whasap.jpg') center center no-repeat;
    background-size: contain; /* Ajusta el tamaño de la imagen para que se vea bien */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* posicion del boton de whasap */
.whatsapp-icon-link {
    position: fixed;  /* Lo coloca en una posición fija */
    bottom: 870px;     /* vvertical */
    right: 100px;      /* horizontal */
    z-index: 100;
}

/* tamaño del boton*/
.whatsapp-icon {
    width: 80px; /* Ajusta el tamaño del icono */
    height: 80px; /* Ajusta el tamaño del icono */
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.whatsapp-icon:hover {
    transform: scale(1.1); /* Efecto de aumentar el icono cuando se pasa el ratón */
}

main {
    margin-top: 20px;
    text-align: center;
}

footer {
    position: relative;
    text-align: center;
    padding: 10px;
    background-color: #0077b6;
    color: white;
    margin-top: 650px;
}



.logo-text {
    font-family: 'Oswald', sans-serif; /* Usa la fuente Bebas Neue */
    font-size: 48px; /* Tamaño del texto */
    font-weight: bold;
    color: #000000; /* Color oscuro para el texto */
}


/* Estilo para el encabezado */
.site-header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    z-index: 1000;
    position: relative; /* Asegura que el posicionamiento sea relativo al contenedor */
}

/* Contenedor para el logo y el texto */
.logo-container {
    display: flex;
    align-items: center;
    position: absolute;  /* Hace que el contenedor sea posicionado con coordenadas */
    left: 80px;  /* Mueve el logo y el texto 20px desde el borde izquierdo */
    top: -245px;   /* Ajusta la posición vertical (opcional) */
}

/* Estilo para el logo */
.logo {
    width: 50px;  /* Ajusta el tamaño del logo */
    height: auto;  /* Mantiene la proporción del logo */
    margin-right: 10px;  /* Espacio entre el logo y el texto */
}

/* Estilo para el texto */
.logo-text {
    font-size: 36px;  /* Tamaño del texto */
    font-weight: bold;  /* Negrita para el texto */
    color: #41403e;  /* Color oscuro para el texto */
}